@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&family=Roboto:wght@400;500&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Ensure Quill lists are visible */
.prose ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
}

.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
}

/* Fix for Quill's specific list classes if needed */
.ql-editor ul {
  list-style-type: disc;
}
.ql-editor ol {
  list-style-type: decimal;
}
