@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&family=Roboto:wght@400;500&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
